{
  "plugins": [
    ["transform-imports",
      {
        "@uniswap/sdk-core": {
          "transform": "@mvlchain/swap-sdk-core",
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}
